{% extends 'layout.html' %}
{% load static %}

{% block title %}
    <title>Chat with Us</title>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row" style="margin-left: auto; margin-right:auto;">
        <div class="col-md-6">
            <iframe class="bot" height="550" width="420" src="https://bot.dialogflow.com/ce5fd45a-dcf8-4667-a3b4-1cb3863420fd">
            </iframe>
        </div>
        <div class="col-md-6">
            
        </div>
    </div>
</div>
<br>
<br>
{% endblock %}