{% extends 'layout.html' %}
{% load static %}

{% block csscontent %}
<link rel="stylesheet" type="text/css" href="{% static 'css/contact.css' %}">
{% endblock %}
    
{% block title %}
    <title>Contact</title>
{% endblock %}

{% block content %}
<div class="container">
    <section class="section " id="contact">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <div class="text-center mx-auto section-main-title">
                        <h2 class="blue">Get In <span class="font-weight-bold">Touch</span></h2>
                        <div class="asterisk">******************************</div>
                        <p class="text-muted mx-auto mt-2">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                    </div>
                </div>
            </div>  
            <div class="row mt-4 pt-4">
                <div class="col-lg-4">
                    <div class="text-center mt-4">
                        <div>
                            <i class="fas fa-mobile text-custom h2 blue"></i>
                        </div>
                        <div class="mt-2">
                            <p class="mb-0 font-weight-bold blue">Call Us On</p>
                            <p class="text-muted" id="changeNum">+91 7506056955</p>
                        </div>
                    </div>
                    <div class="text-center mt-4">
                        <div>
                            <i class="fas fa-envelope text-custom h2 blue"></i>
                        </div>
                        <div class="mt-2">
                            <p class="mb-0 font-weight-bold blue">Email Us At</p>
                            <p class="text-muted" id="changeMail">sauravtiwari27@gmail.com</p>
                        </div>
                    </div>
                    
                </div>
                <div class="col-lg-8">
                    <div class="contact_form">
                        <form>
                            <div class="row">
                                <div class="col-lg-8">
                                    <div class="form-group mt-2">
                                        <label for="name" class="font-weight-bold blue">Name</label>
                                        <input name="name" id="editName" type="text" class="form-control" placeholder="Your name..." required>
                                        <p id="alertName"></p>
                                    </div>
                                </div>
                                <div class="col-lg-8">
                                    <div class="form-group mt-2">
                                        <label for="email" class="font-weight-bold blue ">Email address</label>
                                        <input name="email" id="email" type="email" class="form-control" placeholder="Your email..."  required>
                                       <p id="alertEmail"></p>
                                    </div>
                                </div>
                                <div class="col-lg-8">
                                    <div class="form-group mt-2">
                                        <label for="subject" class="font-weight-bold blue">Contact</label>
                                        <input type="tel" class="form-control" id="number" pattern="[0-9]{10}" placeholder="+91 Your Contact.."  required>
                                        <p id="alertContact"></p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-8">
                                    <div class="form-group mt-2">
                                        <label for="comments" class="font-weight-bold blue ">Message</label>
                                        <textarea name="comments" id="comments" rows="4" class="form-control" placeholder="Your message..."></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-8 text-center">
                                     <input type="submit" class="btn btn-primary btn-custom editbtn" onclick="checkReq()" value="Edit">
                                </div>
                            </div>
                            <br><br>
                        </form>
                    </div> 
                </div>
            </div>                          
        </div>
</section>  
</div>
{% endblock %}